thead tr:nth-child(odd){
     background: rgba(94, 91, 239, 0.05) !important;
}


table th:first-child {
    border-radius: 12px 0 0 0 !important;
  }
  table th:last-child {
    border-radius: 0 12px 0 0 !important;
  }
  

  thead{border: none;}
thead tr td:last-child{
    background-color: red !important;
}

tr:nth-child(odd) {
    background-color:white !important;
  }
tr:nth-child(even) {
    background: rgba(94, 91, 239, 0.05) !important;
  }